<%= form_for(:session, url: login_path) do |f| %>

<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div id="login" class="container text-center">

    <div class="my-4">
      <h1>ログイン</h1>
    </div>

  <!-- Input -->
    <div class="mb-4">
      <div class="u-form w-50 mx-auto text-primary" style="">
        <%= f.label :email, "メールアドレス", class:"d-block small text-left" %>
        <%= f.email_field :email, class:"w-100 p-2" %>
      </div>
    </div>
  <!-- End Input -->

  <!-- Input -->
    <div class="mb-4">
      <div class="u-form w-50 mx-auto text-primary" style="">
        <%= f.label :password, "パスワード", class:"d-block small text-left" %>
        <%= f.password_field :password, placeholder:"英数字8文字以上", class:"w-100 p-2" %>
      </div>
    </div>
  <!-- End Input -->

    <div class="d-block mb-4">
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>ログイン情報を記憶する</span>
      <% end %>
    </div>

    <%= f.submit "ログイン", class:"btn btn-sm btn-primary pl-7 pr-7" %>
    <%= link_to "アカウントをお持ちでない方はこちら", signup_path, class:"d-block small mb-4 mt-1" %>
    <!-- <%= button_to "初めての方はこちら", signup_path, class:"btn btn-sm btn-outline-primary" %> -->
    <%= link_to "初めての方はこちら", signup_path, class:"btn btn-sm btn-outline-primary" %>
  </div>
</main>
<% end %>
