<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>

  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password %>

  <%= f.label :remember_me do %>
    <%= f.check_box :remember_me %>
    <span>ログイン情報を記憶する</span>
  <% end %>

  <%= link_to "アカウントをお持ちでない方はこちら", signup_path %>

  <%= f.submit "ログイン" %>
<% end %>
