<%= form_for(@message_card, url: message_card_path, method: "PATCH") do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <body>
    <%= f.label "挨拶文" %>
    <%= f.text_area :greeting %>

    <%= f.submit "保存" %>
  </body>
<% end %>
