<%= form_for(@message_card, url: message_card_path, method: "PATCH") do |f| %>
<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center">
    <div class="">
      <div class="text-center">
        <h2 class="mb-0" style="">挨拶文編集</h2>
        <div class="mb-3 text-center" style=""><img src="/icon/bar.png" class="w-10"></div>
      </div>
    </div>


    <div class="" style="">
      <!-- <%= f.label "挨拶文" %> -->
      <%= f.text_area :greeting, class:"w-50 p-2 mh-greet" %>
    </div>

    <div class="mt-2 w-50 mx-auto">
      <div class="text-left">
        <a class="btn btn-sm btn-dark text-white pl-8 pr-8">例文を選択する</a>
      </div>
    </div>

    <div class="mt-9">
      <%= f.submit "保存", class:"btn btn-sm btn-primary pl-8 pr-8" %><br>
      <%= link_to "戻る", message_card_path(id: @message_card), class:"btn btn-sm btn-secondary pl-8 pr-8 mt-4" %>
    </div>

  </div>



</main>
<% end %>
