<%= form_for(@message_card, url: message_card_path, method: "PATCH") do |f| %>
<%= render 'shared/error_messages', model: @message_card %>
  <body>
    <%= f.label "名前" %>
    <%= f.text_field :groom_last %>
    <%= f.text_field :groom_first %>

    <%= f.label "名前" %>
    <%= f.text_field :bride_last %>
    <%= f.text_field :bride_first %>

    <%= f.submit "保存" %>
  </body>
<% end %>
