<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center w-60">
    <div class="">
      <div class="text-center">
        <h2 class="mb-0" style="">メッセージカード編集TOP</h2>
        <div class="mb-3 text-center" style=""><img src="/icon/bar.png" class="w-10"></div>
        <h6 class="mt-8">
          <% if @message_card.title.nil? %>
          <div class="">
            <p>
              招待状_<%= @message_card.id %>
              <!-- 切り替えボタンの設定 -->
              <a type="" class="" data-toggle="modal" data-target="#exampleModalCenter">
                <img src="/icon/pencil.png" class="w-5 p-2">
              </a>
            </p>
          </div>
          <% else %>
          <div class="">
            <p>
              <%= @message_card.title %>
              <!-- 切り替えボタンの設定 -->
              <a type="" class="" data-toggle="modal" data-target="#exampleModalCenter">
                <img src="/icon/pencil.png" class="w-5 p-2">
              </a>
            </p>
          </div>
          <% end %>
        </h6>

        <!-- モーダルの設定 -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title w-100" id="exampleModalCenterTitle">招待状の名前を変更する</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <%= form_for(@message_card, url: message_card_path, method: "PATCH") do |f| %>
                <% if @message_card.title.nil? %>
                <div class="modal-body">
                  <p><%= f.text_field :title, value: "招待状_#{@message_card.id}" %></p>
                </div>
                <% else %>
                <div class="modal-body">
                  <p><%= f.text_field :title, value: @message_card.title %></p>
                </div>
                <% end %>
                <div class="modal-footer">
                  <%= f.submit "変更を保存", class: "btn btn-sm btn-primary" %>
                  <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">閉じる</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-4 text-center">
      <% if @message_card.public == false %>
        <%= link_to message_card_path(@message_card, :message_card => {public: true}), method: "PATCH", class:"btn btn-sm btn-primary pl-8 pr-8" do %>
          公開
        <% end %>
      <% else %>
        <%= link_to message_card_path(@message_card, :message_card => {public: false}), method: "PATCH", class:"btn btn-sm btn-primary pl-8 pr-8" do %>
          非公開
        <% end %>
      <% end %>
    </div>
    <div class="mt-4 bg-img img-fit">
      <%= link_to invitations_path,class:"bg-img-padding w-100 my-auto" do %>
      <div class="amikake" style="height: 300px;background-color: rgba(0,0,0,.5);">
        <p class="text-white" style="padding-top:140px;">画像を選択する</p>
      </div>
      <% end %>
    </div>
    <div class="mt-4 m-0" style="overflow:hidden;">
      <%= link_to msg_profile_path(id: @message_card) do %>
      <div class="inv-card w-49 p-4" style="float:left;">
        <h4 class="mb-0">プロフィール</h4>
      </div>
      <% end %>
      <%= link_to msg_greeting_path(id: @message_card) do %>
      <div class="inv-card w-49 p-4" style="float:right;">
        <h4 class="mb-0">挨拶文</h4>
      </div>
      <% end %>
    </div>
    <div>
      <%= link_to "プレビュー", invitations_path, class:"btn btn-sm btn-primary pl-8 pr-8 mb-2 mt-4" %><br>
    </div>
    <div class="w-80 mt-4 m-0 overflow-hidden" style="margin-left:10% !important;">
      <div class="inv-card w-49 p-4 float-left">
        <h4 class="mb-0">LINEで送る</h4>
      </div>
      <div class="inv-card w-49 p-4 float-right">
        <h4 class="mb-0">FBでシェア</h4>
      </div>
    </div>
    <div class="w-80 mt-4 m-0 overflow-hidden" style="margin-left:10% !important;">
      <div class="inv-card w-49 p-4 float-left">
        <h4 class="mb-0">Twitterでシェア</h4>
      </div>
      <div class="inv-card w-49 p-4 float-right">
        <h4 class="mb-0">URLを発行する</h4>
      </div>
    </div>
  </div>
</main>
