<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6">
        <div class="p-4 my-auto align-middle">
          <img src="/default.jpg" width="" class="w-60">
        </div>
      </div>
      <div class="col-sm-6">
        <p>2019/7/14</p>
        <h2 class="mt-8">新郎名 & 新婦名</h2>
        <div class="" style="border:3px solid gray;">
          <ul class="row" style="margin:0 15px !important;">
            <li class="col">出席：23人</li>
            <li class="col">欠席：3人</li>
            <li class="col">未回答：120人</li>
          </ul>
          <div class="js-hr-progress progress m-4" style="height: 25px;">
            <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
          </div>
          <ul class="w-70" style="margin-left:30%;">
            <li class="row text-right mx-4" style="">
              <h3 class="w-100 mb-0">現在金額　¥1,000,000</h3>
            </li>
            <li class="row text-right mx-4" style="">
              <h3 class="w-100 mb-0 text-primary">目標金額　¥1,000,000</h3>
            </li>
          </ul>
        </div>

        <div class="row mt-8">
          <div class="col-6">
            <div class="btn btn-lg btn-primary btn-outline-primary w-80">人数</div>
          </div>
          <div class="col-6">
            <div class="btn btn-lg btn-primary btn-outline-primary w-80">金額</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="row">
      <div class="col-3">
        <% if Invitation.find_by(user_id: current_user) %>
        <%= link_to invitation_path(id: @invitation) do  %>
          <div class="step-card mypage-card p-4 m-6 mx-auto">
            <img src="/mypage/message.png" width="" class="w-100  step-icon">
            <img src="/mypage/message2.png" width="" class="w-100  step-icon-hover">
            <p class="">招待状一覧</p>
          </div>
        <% end %>
      <% else %>
        <%= link_to type_path do  %>
        <div class="step-card mypage-card p-4 m-6 mx-auto">
          <img src="/mypage/message.png" width="" class="w-100  step-icon">
          <img src="/mypage/message2.png" width="" class="w-100  step-icon-hover">
          <p class="">招待状新規作成</p>
        </div>
        <% end %>
      <% end %>

      </div>
      <div class="col-3">
        <% if MessageCard.find_by(user_id: current_user) %>
          <%= link_to message_card_path(id: 1) do  %>
            <div class="step-card mypage-card p-4 m-6 mx-auto">
              <img src="/mypage/card.png" width="" class="w-100  step-icon">
              <img src="/mypage/card2.png" width="" class="w-100  step-icon-hover">
              <p class="">メッセージカード一覧</p>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_message_card_path do  %>
          <div class="step-card mypage-card p-4 m-6 mx-auto">
            <img src="/mypage/card.png" width="" class="w-100  step-icon">
            <img src="/mypage/card2.png" width="" class="w-100  step-icon-hover">
            <p class="">メッセージカード新規作成</p>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-3">
        <%= link_to payment_path do  %>
        <div class="step-card mypage-card p-4 m-6 mx-auto">
          <img src="/mypage/bank.png" width="" class="w-100  step-icon">
          <img src="/mypage/bank2.png" width="" class="w-100  step-icon-hover">
          <p class="">受取会費確認</p>
        </div>
        <% end %>
      </div>
      <div class="col-3">
        <%= link_to couple_name_path(type_id: 4) do  %>
        <div class="step-card mypage-card p-4 m-6 mx-auto">
          <img src="/mypage/meibo.png" width="" class="w-100  step-icon">
          <img src="/mypage/meibo2.png" width="" class="w-100  step-icon-hover">
          <p class="">名簿管理</p>
        </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <%= link_to couple_name_path(type_id: 1) do  %>
        <div class="step-card mypage-card p-4 m-6 mx-auto">
          <img src="/mypage/camera.png" width="" class="w-100  step-icon">
          <img src="/mypage/camera2.png" width="" class="w-100  step-icon-hover">
          <p class="">写真管理</p>
        </div>
        <% end %>
      </div>
      <div class="col-3">
        <%= link_to couple_name_path(type_id: 2) do  %>
        <div class="step-card mypage-card p-4 m-6 mx-auto ">
          <img src="/mypage/goshugi-bukuro.png" width="" class="w-100  step-icon">
          <img src="/mypage/goshugi-bukuro2.png" width="" class="w-100  step-icon-hover">
          <p class="">オプションサービス</p>
        </div>
        <% end %>
        </div>
      <div class="col-3">
        <%= link_to couple_name_path(type_id: 3) do  %>
        <div class="step-card mypage-card p-4 m-6 mx-auto">
          <img src="/step_icon/3.png" width="" class="w-50 ">
          <p class="">？？？</p>
        </div>
        <% end %>
      </div>
      <div class="col-3">
        <%= link_to couple_name_path(type_id: 4) do  %>
        <div class="step-card mypage-card p-4 m-6 mx-auto">
          <img src="/step_icon/4.png" width="" class="w-50 ">
          <p class="">？？？</p>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</main>
