<%= link_to "招待状編集TOPへ", invitation_path(id: @invitation) %>

<%= form_for(@attendance_form, url: attendance_form_update_path) do |f| %>
<%= render 'shared/error_messages', model: f.object %>

<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center">
    <div class="">
      <div class="text-center">
        <h2 class="mb-0" style="">出欠フォーム編集</h2>
        <div class="mb-3 text-center" style=""><img src="/icon/bar.png" class="w-10"></div>
      </div>
    </div>

    <div class="inv-date_place">
      <div class="row mt-4">
        <div class="col-sm-4">
          <p class="text-primary">
            <%= f.label :due_date, "回答期限" %>
          </p>
        </div>
        <div class="text-left col-sm-8">
          <div class="" style="">
            <div class="collapse" id="collapseExample">
              <%= f.text_field :due_date, class: "w-80 p-2", id: "date_sample" %>
            </div>
            <div class="custom-control custom-checkbox ml-4 mt-2">
              <input type="checkbox" class="custom-control-input" id="customCheck1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <label class="custom-control-label" for="customCheck1">回答期限を設定する</label>
            </div>
          </div>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-sm-4">
          <p class="text-primary">
            <%= f.label :greeting, "フォーム用挨拶文" %>
          </p>
        </div>
        <div class="text-left col-sm-8">
          <div class="" style="">
            <%= f.text_field :greeting, value: "お手数ではございますが、出席情報のご記入をお願い申し上げます。", class: "w-80 p-2" %>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-4">
          <p class="text-primary mb-0">
            <%= f.label "フォーム回答項目", class: "mb-0" %>
          </p>
        </div>
        <div class="text-left col-sm-8">
          <div class="" style="">
            <div class="row">
              <div class="col-sm-4">
                <div class="custom-control custom-checkbox ml-4">
                  <%= f.check_box :name,class:"custom-control-input", id:"customCheck_name" %>
                  <%= f.label :name, "お名前",class:"custom-control-label", for:"customCheck_name" %>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="select-must">
                  <%= f.radio_button :name_sel, :名前を必須にする,id:"name1", value:"必須にする", class:"windows" %>
                  <%= f.label :name_sel, for:"name1", value:"必須にする" %>
                  <%= f.radio_button :name_sel, :名前を必須にする,id:"name2", value:"必須にしない", class:"osx" %>
                  <%= f.label :name_sel, for:"name2", value:"必須にしない" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="text-left col-sm-8 mt-2">
          <div class="" style="">
            <div class="row">
              <div class="col-sm-4">
                <div class="custom-control custom-checkbox ml-4">
                  <%= f.check_box :kana,class:"custom-control-input", id:"customCheck_kana" %>
                  <%= f.label :kana, "かな",class:"custom-control-label", for:"customCheck_kana" %>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="select-must">
                  <%= f.radio_button :kana_sel, :かなを必須にする,id:"kana1", value:"必須にする", class:"windows" %>
                  <%= f.label :kana_sel, for:"kana1", value:"必須にする" %>
                  <%= f.radio_button :kana_sel, :かなを必須にする,id:"kana2", value:"必須にしない", class:"osx" %>
                  <%= f.label :kana_sel, for:"kana2", value:"必須にしない" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="text-left col-sm-8 mt-2">
          <div class="" style="">
            <div class="row">
              <div class="col-sm-4">
                <div class="custom-control custom-checkbox ml-4">
                  <%= f.check_box :postcode,class:"custom-control-input", id:"customCheck_postcode" %>
                  <%= f.label :postcode, "郵便番号",class:"custom-control-label", for:"customCheck_postcode" %>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="select-must">
                  <%= f.radio_button :postcode_sel, :郵便番号を必須にする,id:"postcode1", value:"必須にする", class:"windows" %>
                  <%= f.label :postcode_sel, for:"postcode1", value:"必須にする" %>
                  <%= f.radio_button :postcode_sel, :郵便番号を必須にする,id:"postcode2", value:"必須にしない", class:"osx" %>
                  <%= f.label :postcode_sel, for:"postcode2", value:"必須にしない" %>
                </div>
                <!-- <div class="form-check mr-4">
                  <%= f.radio_button :postcode_sel, :郵便番号を必須にする %>
                  <%= f.label :postcode_sel, "必須にする" %>
                  <%= f.radio_button :postcode_sel, :郵便番号を必須にしない %>
                  <%= f.label :postcode_sel, "必須にしない" %>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="text-left col-sm-8 mt-2">
          <div class="" style="">
            <div class="row">
              <div class="col-sm-4">
                <div class="custom-control custom-checkbox ml-4">
                  <%= f.check_box :address,class:"custom-control-input", id:"customCheck_address" %>
                  <%= f.label :address, "住所",class:"custom-control-label", for:"customCheck_address" %>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="select-must">
                  <%= f.radio_button :address_sel, :住所を必須にする,id:"address1", value:"必須にする", class:"windows" %>
                  <%= f.label :address_sel, for:"address1", value:"必須にする" %>
                  <%= f.radio_button :address_sel, :住所を必須にする,id:"address2", value:"必須にしない", class:"osx" %>
                  <%= f.label :address_sel, for:"address2", value:"必須にしない" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="text-left col-sm-8 mt-2">
          <div class="" style="">
            <div class="row">
              <div class="col-sm-4">
                <div class="custom-control custom-checkbox ml-4">
                  <%= f.check_box :phonenumber,class:"custom-control-input", id:"customCheck_phonenumber" %>
                  <%= f.label :phonenumber, "電話番号",class:"custom-control-label", for:"customCheck_phonenumber" %>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="select-must">
                  <%= f.radio_button :phonenumber_sel, :電話番号を必須にする,id:"phonenumber1", value:"必須にする", class:"windows" %>
                  <%= f.label :phonenumber_sel, for:"phonenumber1", value:"必須にする" %>
                  <%= f.radio_button :phonenumber_sel, :電話番号を必須にする,id:"phonenumber2", value:"必須にしない", class:"osx" %>
                  <%= f.label :phonenumber_sel, for:"phonenumber2", value:"必須にしない" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="text-left col-sm-8 mt-2">
          <div class="" style="">
            <div class="row">
              <div class="col-sm-4">
                <div class="custom-control custom-checkbox ml-4">
                  <%= f.check_box :email,class:"custom-control-input", id:"customCheck_email" %>
                  <%= f.label :email, "メールアドレス",class:"custom-control-label", for:"customCheck_email" %>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="select-must">
                  <%= f.radio_button :email_sel, :メールアドレスを必須にする,id:"email1", value:"必須にする", class:"windows" %>
                  <%= f.label :email_sel, for:"email1", value:"必須にする" %>
                  <%= f.radio_button :email_sel, :メールアドレスを必須にする,id:"email2", value:"必須にしない", class:"osx" %>
                  <%= f.label :email_sel, for:"email2", value:"必須にしない" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="text-left col-sm-8 mt-2">
          <div class="" style="">
            <div class="row">
              <div class="col-sm-4">
                <div class="custom-control custom-checkbox ml-4">
                  <%= f.check_box :allergy,class:"custom-control-input", id:"customCheck_allergy" %>
                  <%= f.label :allergy, "アレルギー",class:"custom-control-label", for:"customCheck_allergy" %>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="select-must">
                  <%= f.radio_button :allergy_sel, :アレルギーを必須にする,id:"allergy1", value:"必須にする", class:"windows" %>
                  <%= f.label :allergy_sel, for:"allergy1", value:"必須にする" %>
                  <%= f.radio_button :allergy_sel, :アレルギーを必須にする,id:"allergy2", value:"必須にしない", class:"osx" %>
                  <%= f.label :allergy_sel, for:"allergy2", value:"必須にしない" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
        </div>
        <div class="text-left col-sm-8 mt-2">
          <div class="" style="">
            <div class="row">
              <div class="col-sm-4">
                <div class="custom-control custom-checkbox ml-4">
                  <%= f.check_box :message,class:"custom-control-input", id:"customCheck_message" %>
                  <%= f.label :message, "メッセージ",class:"custom-control-label", for:"customCheck_message" %>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="select-must">
                  <%= f.radio_button :message_sel, :メッセージを必須にする,id:"message1", value:"必須にする", class:"windows" %>
                  <%= f.label :message_sel, for:"message1", value:"必須にする" %>
                  <%= f.radio_button :message_sel, :メッセージを必須にする,id:"message2", value:"必須にしない", class:"osx" %>
                  <%= f.label :message_sel, for:"message2", value:"必須にしない" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-9">
      <%= f.submit "保存", class:"btn btn-sm btn-primary pl-8 pr-8" %><br>
    </div>

  </div>
</main>

<!-- bootstrap-datepickerのjavascriptコード -->
<script>
    $('#date_sample').datepicker({
        language:'ja',
        format: 'yyyy/mm/dd'
    });
</script>




<% end %>
