<%= form_for(@invitation, url: invitations_path) do |f| %>
<%= render 'shared/error_messages', model: @invitation %>
<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center">
    <div class="row">
      <div class="col-4">
        <h2 class="" style="">STEP1</h2>
      </div>
      <div class="col-4">
        <h2 class="mb-0">STEP2</h2>
        <div class="w-25 step-border mb-3" style=""></div>
        <p class="">お名前の入力</p>
      </div>
      <div class="col-4">
        <h2 class="">STEP3</h2>
      </div>
    </div>

    <div class="text-left text-primary">
      <%= f.label "新郎", class:"d-block font-weight-bold" %>
      <div class="row">
        <%= f.text_field :groom_last,placeholder:"姓（Last Name）", class:"col-5 u-form--modern u-form__input" %>
        <div class="col-1"></div>
        <%= f.text_field :groom_first,placeholder:"名（First Name）", class:"col-5" %>
      </div>
    </div>
    <div class="text-left mt-6 text-primary">
      <%= f.label "新婦", class:"d-block font-weight-bold" %>
      <div class="row">
        <%= f.text_field :bride_last,placeholder:"姓（Last Name）", class:"col-5 u-form--modern u-form__input" %>
        <div class="col-1"></div>
        <%= f.text_field :bride_first,placeholder:"名（First Name）", class:"col-5" %>
      </div>
    </div>
    <%= f.hidden_field :type_id, value: params[:type_id] %>
    <div class="mt-8">
      <%= f.submit "OK", class:"btn btn-sm btn-primary pl-8 pr-8" %>
    </div>
  </div>
</main>
<% end %>
