<%= form_for(@invitation, url: invitations_path) do |f| %>
<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div id="couple_name" class="container text-center">
    <div class="row">
      <div class="col-4">
        <h2 class="" style="">STEP1</h2>
      </div>
      <div class="col-4">
        <h2 class="mb-0">STEP2</h2>
        <div class="mb-3 text-center" style=""><img src="/icon/bar.png" class="w-20"></div>
        <p class="">お名前の入力</p>
      </div>
      <div class="col-4">
        <h2 class="">STEP3</h2>
      </div>
    </div>

    <div class="text-left text-primary">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <%= f.label "新婦", class:"d-block font-weight-bold" %>
          <div class="u-form w-100 mx-auto text-primary">
            <%= f.text_field :groom_last,placeholder:"姓（Last Name）", class:"" %>
          </div>
        </div>
        <div class="col-4">
          <%= f.label "新婦", class:"d-block font-weight-bold text-transparent" %>
          <div class="u-form w-100 mx-auto text-primary">
            <%= f.text_field :groom_first,placeholder:"名（First Name）", class:"" %>
          </div>
        </div>
      </div>
    </div>
    <div class="text-left mt-6 text-primary">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <%= f.label "新婦", class:"d-block font-weight-bold" %>
          <div class="u-form w-100 mx-auto text-primary">
            <%= f.text_field :bride_last,placeholder:"姓（Last Name）", class:"" %>
          </div>
        </div>
        <div class="col-4">
          <%= f.label "新婦", class:"d-block font-weight-bold text-transparent" %>
          <div class="u-form w-100 mx-auto text-primary">
            <%= f.text_field :bride_first,placeholder:"名（First Name）", class:"" %>
          </div>
        </div>
      </div>
    </div>
      <%= f.hidden_field :type_id, value: params[:type_id] %>
    <div class="mt-8">
      <%= f.fields_for(@attendance_form) do |atdf| %>
        <%= atdf.hidden_field :user_id, value: current_user.id %>
        <%= atdf.hidden_field :type_id, value: params[:type_id] %>
      <%= f.submit "OK", class:"btn btn-sm btn-primary pl-8 pr-8" %>
      <% end %>
    </div>
  </div>
</main>
<% end %>
