<h1>新郎新婦の名前</h1>

<%= form_for(@invitation, url: invitations_path) do |f| %>
<%= render 'shared/error_messages', model: @invitation %>
  <body>
    <%= f.label "新郎" %>
    <%= f.text_field :groom_last %>
    <%= f.text_field :groom_first %>

    <%= f.label "新婦" %>
    <%= f.text_field :bride_last %>
    <%= f.text_field :bride_first %>

    <%= f.hidden_field :type_id, value: params[:type_id] %>

    <%= f.submit "新規登録" %>
  </body>
<% end %>
