<%= form_for(@invitation, url: invitation_path, method: "PATCH") do |f| %>
<%= render 'shared/error_messages', model: @invitation %>
  <body>
    <%= f.label "日付" %>
    <%= f.text_field :date1 %>

    <%= f.label "受付時間" %>
    <%= f.text_field :opentime1 %>

    <%= f.label "開始時間" %>
    <%= f.text_field :starttime1 %>

    <%= f.label "会場名" %>
    <%= f.text_field :place1 %>

    <%= f.label "住所" %>
    <%= f.text_field :address1 %>

    <%= f.label "電話番号" %>
    <%= f.text_field :phonenumber1 %>

    <%= f.label "会場URL" %>
    <%= f.text_field :place_url1 %>

    <%= f.label "備考" %>
    <%= f.text_field :note1 %>

    <%= f.label "日付" %>
    <%= f.text_field :date2 %>

    <%= f.label "受付時間" %>
    <%= f.text_field :opentime2 %>

    <%= f.label "開始時間" %>
    <%= f.text_field :starttime2 %>

    <%= f.label "会場名" %>
    <%= f.text_field :place2 %>

    <%= f.label "住所" %>
    <%= f.text_field :address2 %>

    <%= f.label "電話番号" %>
    <%= f.text_field :phonenumber2 %>

    <%= f.label "会場URL" %>
    <%= f.text_field :place_url2 %>

    <%= f.label "備考" %>
    <%= f.text_field :note2 %>

    <%= f.submit "保存" %>
  </body>
<% end %>
