<%= link_to "招待状編集TOPへ", invitation_path(id: @invitation) %>

<%= form_for(@invitation, url: invitation_path, method: "PATCH") do |f| %>
<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center">
    <div class="">
      <div class="text-center">
        <h2 class="mb-0" style="">日付・会場編集</h2>
        <div class="mb-3 text-center" style=""><img src="/icon/bar.png" class="w-20"></div>
        <h3 class="mt-8 mb-0">挙式の詳細</h3>
        <p>Wedding detales</p>
      </div>
    </div>

    <div class="inv-date_place">
      <div class="col-sm-8 offset-sm-2">
        <div class="row mt-4">
          <div class="col-sm-4">
            <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "日付" %></p>
          </div>
          <div class="text-left col-sm-8">
            <div class="" style="">
              <%= f.text_field :date1, class:"w-80 p-2", id:"date_sample" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 offset-sm-2">
        <div class="row mt-4">
          <div class="col-sm-4">
            <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "受付時間" %></p>
          </div>
          <div class="text-left col-sm-8">
            <div class="" style="">
              <%= f.select :openhour1, [
                [1, "one"],
                [2, "two"],
                [3, "three"],
                [4, "four"],
                [5, "five"],
                [6, "six"],
                [7, "seven"],
                [8, "eight"],
                [9, "nine"],
                [10, "ten"],
                [11, "eleven"],
                [12, "twelve"],
                [13, "thirteen"],
                [14, "fourteen"],
                [15, "fifteen"],
                [16, "sixteen"],
                [17, "seventeen"],
                [18, "eighteen"],
                [19, "nineteen"],
                [20, "twenty"],
                [21, "twenty-one"],
                [22, "twenty-two"],
                [23, "twenty-three"],
                [24, "twenty-four"]
                ],{}, class:"custom-select w-20" %>
              <%= f.select :openminute1, [
                [00, "zero"],
                [1, "one"],
                [2, "two"],
                [3, "three"],
                [4, "four"],
                [5, "five"],
                [6, "six"],
                [7, "seven"],
                [8, "eight"],
                [9, "nine"],
                [10, "ten"],
                [11, "eleven"],
                [12, "twelve"],
                [13, "thirteen"],
                [14, "fourteen"],
                [15, "fifteen"],
                [16, "sixteen"],
                [17, "seventeen"],
                [18, "eighteen"],
                [19, "nineteen"],
                [20, "twenty"],
                [21, "twenty-one"],
                [22, "twenty-two"],
                [23, "twenty-three"],
                [24, "twenty-four"],
                [25, "twenty-five"],
                [26, "twenty-six"],
                [27, "twenty-seven"],
                [28, "twenty-eight"],
                [29, "twenty-nine"],
                [30, "thirty"],
                [31, "thirty-one"],
                [32, "thirty-two"],
                [33, "thirty-three"],
                [34, "thirty-four"],
                [35, "thirty-five"],
                [36, "thirty-six"],
                [37, "thirty-seven"],
                [38, "thirty-eight"],
                [39, "thirty-nine"],
                [40, "fourty"],
                [41, "fourty-one"],
                [42, "fourty-two"],
                [43, "fourty-three"],
                [44, "fourty-four"],
                [45, "fourty-five"],
                [46, "fourty-six"],
                [47, "fourty-seven"],
                [48, "fourty-eight"],
                [49, "fourty-nine"],
                [50, "fifty"],
                [51, "fifty-one"],
                [52, "fifty-two"],
                [53, "fifty-three"],
                [54, "fifty-four"],
                [55, "fifty-five"],
                [56, "fifty-six"],
                [57, "fifty-seven"],
                [58, "fifty-eight"],
                [59, "fifty-nine"],
                [60, "sixty"],
                ],{}, class:"custom-select w-20" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 offset-sm-2">
        <div class="row mt-4">
          <div class="col-sm-4">
            <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "開始時間" %></p>
          </div>
          <div class="text-left col-sm-8">
            <div class="" style="">
              <%= f.select :starthour1, [
                [1, "one"],
                [2, "two"],
                [3, "three"],
                [4, "four"],
                [5, "five"],
                [6, "six"],
                [7, "seven"],
                [8, "eight"],
                [9, "nine"],
                [10, "ten"],
                [11, "eleven"],
                [12, "twelve"],
                [13, "thirteen"],
                [14, "fourteen"],
                [15, "fifteen"],
                [16, "sixteen"],
                [17, "seventeen"],
                [18, "eighteen"],
                [19, "nineteen"],
                [20, "twenty"],
                [21, "twenty-one"],
                [22, "twenty-two"],
                [23, "twenty-three"],
                [24, "twenty-four"]
                ],{}, class:"custom-select w-20" %>
              <%= f.select :startminute1, [
                [00, "zero"],
                [1, "one"],
                [2, "two"],
                [3, "three"],
                [4, "four"],
                [5, "five"],
                [6, "six"],
                [7, "seven"],
                [8, "eight"],
                [9, "nine"],
                [10, "ten"],
                [11, "eleven"],
                [12, "twelve"],
                [13, "thirteen"],
                [14, "fourteen"],
                [15, "fifteen"],
                [16, "sixteen"],
                [17, "seventeen"],
                [18, "eighteen"],
                [19, "nineteen"],
                [20, "twenty"],
                [21, "twenty-one"],
                [22, "twenty-two"],
                [23, "twenty-three"],
                [24, "twenty-four"],
                [25, "twenty-five"],
                [26, "twenty-six"],
                [27, "twenty-seven"],
                [28, "twenty-eight"],
                [29, "twenty-nine"],
                [30, "thirty"],
                [31, "thirty-one"],
                [32, "thirty-two"],
                [33, "thirty-three"],
                [34, "thirty-four"],
                [35, "thirty-five"],
                [36, "thirty-six"],
                [37, "thirty-seven"],
                [38, "thirty-eight"],
                [39, "thirty-nine"],
                [40, "fourty"],
                [41, "fourty-one"],
                [42, "fourty-two"],
                [43, "fourty-three"],
                [44, "fourty-four"],
                [45, "fourty-five"],
                [46, "fourty-six"],
                [47, "fourty-seven"],
                [48, "fourty-eight"],
                [49, "fourty-nine"],
                [50, "fifty"],
                [51, "fifty-one"],
                [52, "fifty-two"],
                [53, "fifty-three"],
                [54, "fifty-four"],
                [55, "fifty-five"],
                [56, "fifty-six"],
                [57, "fifty-seven"],
                [58, "fifty-eight"],
                [59, "fifty-nine"],
                [60, "sixty"],
                ],{}, class:"custom-select w-20" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 offset-sm-2">
        <div class="row mt-4">
          <div class="col-sm-4">
            <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "会場名" %></p>
          </div>
          <div class="text-left col-sm-8">
            <div class="" style="">
              <%= f.text_field :place1, class:"w-80 p-2" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 offset-sm-2">
        <div class="row mt-4">
          <div class="col-sm-4">
            <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "住所" %></p>
          </div>
          <div class="text-left col-sm-8">
            <div class="" style="">
              <%= f.text_field :address1, class:"w-80 p-2" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 offset-sm-2">
        <div class="row mt-4">
          <div class="col-sm-4">
            <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "電話番号" %></p>
          </div>
          <div class="text-left col-sm-8">
            <div class="" style="">
              <%= f.text_field :phonenumber1, class:"w-80 p-2" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 offset-sm-2">
        <div class="row mt-4">
          <div class="col-sm-4">
            <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "会場URL" %></p>
          </div>
          <div class="text-left col-sm-8">
            <div class="" style="">
              <%= f.text_field :place_url1, class:"w-80 p-2" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 offset-sm-2">
        <div class="row mt-4">
          <div class="col-sm-4">
            <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "備考" %></p>
          </div>
          <div class="text-left col-sm-8">
            <div class="" style="">
              <%= f.text_field :note1, class:"w-80 p-2" %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center">
      <h3 class="mt-8 mb-0">披露宴の詳細</h3>
      <p>Reception detales</p>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <label class="custom-control-label" for="customCheck1">挙式とは異なる</label>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="inv-date_place">
          <div class="col-sm-8 offset-sm-2">
            <div class="row mt-4">
              <div class="col-sm-4">
                <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "日付" %></p>
              </div>
              <div class="text-left col-sm-8">
                <div class="" style="">
                  <%= f.text_field :date2, class:"w-80 p-2", id:"date_sample2" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 offset-sm-2">
            <div class="row mt-4">
              <div class="col-sm-4">
                <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "受付時間" %></p>
              </div>
              <div class="text-left col-sm-8">
                <div class="" style="">
                  <%= f.select :openhour2, [
                    [1, "one"],
                    [2, "two"],
                    [3, "three"],
                    [4, "four"],
                    [5, "five"],
                    [6, "six"],
                    [7, "seven"],
                    [8, "eight"],
                    [9, "nine"],
                    [10, "ten"],
                    [11, "eleven"],
                    [12, "twelve"],
                    [13, "thirteen"],
                    [14, "fourteen"],
                    [15, "fifteen"],
                    [16, "sixteen"],
                    [17, "seventeen"],
                    [18, "eighteen"],
                    [19, "nineteen"],
                    [20, "twenty"],
                    [21, "twenty-one"],
                    [22, "twenty-two"],
                    [23, "twenty-three"],
                    [24, "twenty-four"]
                    ],{}, class:"custom-select w-20" %>
                  <%= f.select :openminute2, [
                    [00, "zero"],
                    [1, "one"],
                    [2, "two"],
                    [3, "three"],
                    [4, "four"],
                    [5, "five"],
                    [6, "six"],
                    [7, "seven"],
                    [8, "eight"],
                    [9, "nine"],
                    [10, "ten"],
                    [11, "eleven"],
                    [12, "twelve"],
                    [13, "thirteen"],
                    [14, "fourteen"],
                    [15, "fifteen"],
                    [16, "sixteen"],
                    [17, "seventeen"],
                    [18, "eighteen"],
                    [19, "nineteen"],
                    [20, "twenty"],
                    [21, "twenty-one"],
                    [22, "twenty-two"],
                    [23, "twenty-three"],
                    [24, "twenty-four"],
                    [25, "twenty-five"],
                    [26, "twenty-six"],
                    [27, "twenty-seven"],
                    [28, "twenty-eight"],
                    [29, "twenty-nine"],
                    [30, "thirty"],
                    [31, "thirty-one"],
                    [32, "thirty-two"],
                    [33, "thirty-three"],
                    [34, "thirty-four"],
                    [35, "thirty-five"],
                    [36, "thirty-six"],
                    [37, "thirty-seven"],
                    [38, "thirty-eight"],
                    [39, "thirty-nine"],
                    [40, "fourty"],
                    [41, "fourty-one"],
                    [42, "fourty-two"],
                    [43, "fourty-three"],
                    [44, "fourty-four"],
                    [45, "fourty-five"],
                    [46, "fourty-six"],
                    [47, "fourty-seven"],
                    [48, "fourty-eight"],
                    [49, "fourty-nine"],
                    [50, "fifty"],
                    [51, "fifty-one"],
                    [52, "fifty-two"],
                    [53, "fifty-three"],
                    [54, "fifty-four"],
                    [55, "fifty-five"],
                    [56, "fifty-six"],
                    [57, "fifty-seven"],
                    [58, "fifty-eight"],
                    [59, "fifty-nine"],
                    [60, "sixty"],
                    ],{}, class:"custom-select w-20" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 offset-sm-2">
            <div class="row mt-4">
              <div class="col-sm-4">
                <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "開始時間" %></p>
              </div>
              <div class="text-left col-sm-8">
                <div class="" style="">
                  <%= f.select :starthour2, [
                    [1, "one"],
                    [2, "two"],
                    [3, "three"],
                    [4, "four"],
                    [5, "five"],
                    [6, "six"],
                    [7, "seven"],
                    [8, "eight"],
                    [9, "nine"],
                    [10, "ten"],
                    [11, "eleven"],
                    [12, "twelve"],
                    [13, "thirteen"],
                    [14, "fourteen"],
                    [15, "fifteen"],
                    [16, "sixteen"],
                    [17, "seventeen"],
                    [18, "eighteen"],
                    [19, "nineteen"],
                    [20, "twenty"],
                    [21, "twenty-one"],
                    [22, "twenty-two"],
                    [23, "twenty-three"],
                    [24, "twenty-four"]
                    ],{}, class:"custom-select w-20" %>
                  <%= f.select :startminute2, [
                    [00, "zero"],
                    [1, "one"],
                    [2, "two"],
                    [3, "three"],
                    [4, "four"],
                    [5, "five"],
                    [6, "six"],
                    [7, "seven"],
                    [8, "eight"],
                    [9, "nine"],
                    [10, "ten"],
                    [11, "eleven"],
                    [12, "twelve"],
                    [13, "thirteen"],
                    [14, "fourteen"],
                    [15, "fifteen"],
                    [16, "sixteen"],
                    [17, "seventeen"],
                    [18, "eighteen"],
                    [19, "nineteen"],
                    [20, "twenty"],
                    [21, "twenty-one"],
                    [22, "twenty-two"],
                    [23, "twenty-three"],
                    [24, "twenty-four"],
                    [25, "twenty-five"],
                    [26, "twenty-six"],
                    [27, "twenty-seven"],
                    [28, "twenty-eight"],
                    [29, "twenty-nine"],
                    [30, "thirty"],
                    [31, "thirty-one"],
                    [32, "thirty-two"],
                    [33, "thirty-three"],
                    [34, "thirty-four"],
                    [35, "thirty-five"],
                    [36, "thirty-six"],
                    [37, "thirty-seven"],
                    [38, "thirty-eight"],
                    [39, "thirty-nine"],
                    [40, "fourty"],
                    [41, "fourty-one"],
                    [42, "fourty-two"],
                    [43, "fourty-three"],
                    [44, "fourty-four"],
                    [45, "fourty-five"],
                    [46, "fourty-six"],
                    [47, "fourty-seven"],
                    [48, "fourty-eight"],
                    [49, "fourty-nine"],
                    [50, "fifty"],
                    [51, "fifty-one"],
                    [52, "fifty-two"],
                    [53, "fifty-three"],
                    [54, "fifty-four"],
                    [55, "fifty-five"],
                    [56, "fifty-six"],
                    [57, "fifty-seven"],
                    [58, "fifty-eight"],
                    [59, "fifty-nine"],
                    [60, "sixty"],
                    ],{}, class:"custom-select w-20" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 offset-sm-2">
            <div class="row mt-4">
              <div class="col-sm-4">
                <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "会場名" %></p>
              </div>
              <div class="text-left col-sm-8">
                <div class="" style="">
                  <%= f.text_field :place2, class:"w-80 p-2" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 offset-sm-2">
            <div class="row mt-4">
              <div class="col-sm-4">
                <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "住所" %></p>
              </div>
              <div class="text-left col-sm-8">
                <div class="" style="">
                  <%= f.text_field :address2, class:"w-80 p-2" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 offset-sm-2">
            <div class="row mt-4">
              <div class="col-sm-4">
                <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "電話番号" %></p>
              </div>
              <div class="text-left col-sm-8">
                <div class="" style="">
                  <%= f.text_field :phonenumber2, class:"w-80 p-2" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 offset-sm-2">
            <div class="row mt-4">
              <div class="col-sm-4">
                <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "会場URL" %></p>
              </div>
              <div class="text-left col-sm-8">
                <div class="" style="">
                  <%= f.text_field :place_url2, class:"w-80 p-2" %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 offset-sm-2">
            <div class="row mt-4">
              <div class="col-sm-4">
                <p class="text-primary w-40 text-left" style="margin-left:60%;"><%= f.label "備考" %></p>
              </div>
              <div class="text-left col-sm-8">
                <div class="" style="">
                  <%= f.text_field :note2, class:"w-80 p-2" %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="mt-9">
      <%= f.submit "保存", class:"btn btn-sm btn-primary pl-8 pr-8" %><br>
    </div>

  </div>
</main>


<!-- bootstrap-datepickerのjavascriptコード -->
<script>
    $('#date_sample').datepicker({
        language:'ja',
        format: 'yyyy/mm/dd'
    });
</script>

<!-- bootstrap-datepickerのjavascriptコード -->
<script>
    $('#date_sample2').datepicker({
        language:'ja',
        format: 'yyyy/mm/dd'
    });
</script>


<% end %>
