<%= link_to "招待状編集TOPへ", edit_invitation_path(id: @invitation) %>

<%= form_for(@invitation, url: invitation_path, method: "PATCH") do |f| %>
<%= render 'shared/error_messages', model: @invitation %>
  <body>
    <%= f.label "挨拶文" %>
    <%= f.text_area :greeting %>

    <%= f.submit "保存" %>
  </body>
<% end %>
