<%= link_to "招待状編集TOPへ", invitation_path(id: @invitation) %>

<%= form_for(@invitation, url: invitation_path, method: "PATCH") do |f| %>
<%= render 'shared/error_messages', model: f.object %>

<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center">
    <div class="">
      <div class="text-center">
        <h2 class="mb-0" style="">プロフィール編集</h2>
        <div class="mb-3 text-center" style=""><img src="/icon/bar.png" class="w-10"></div>
      </div>
    </div>

    <div class="inv-profile">
      <h6 class="mt-8" style="font-size:2.0rem; line-height: 0.5;">新郎<br><span style="font-size:1rem;">groom</span></h6>
      <div class="row mt-4">
        <div class="groom-img col-sm-4">
          <img src="/top/merit-img-2.png" class="w-50">
          <p>写真を選択する</p>
        </div>
        <div class="groom-profile text-left col-sm-8">
          <label class="">名前</label>
          <!-- <%= f.label "新郎", class:"d-block small text-left" %> -->
          <div class="overflow-hidden" style="margin:0px !important;">
            <%= f.text_field :groom_last, class:"w-49 p-2 float-left" %>
            <%= f.text_field :groom_first, class:"w-49 p-2 float-right" %>
          </div>
          <label class="">かな</label>
          <!-- <%= f.label "新郎", class:"d-block small text-left" %> -->
          <div class="overflow-hidden" style="margin:0px !important;">
            <%= f.text_field :groom_last_kana, class:"w-49 p-2 float-left" %>
            <%= f.text_field :groom_first_kana, class:"w-49 p-2 float-right" %>
          </div>

          <div class="mt-4">
            <label class="">自己紹介・メッセージ</label>
            <%= f.text_area :groom_msg, class:"w-100 p-2" %>
          </div>
        </div>
      </div>
    </div>

    <div class="inv-profile">
      <h6 class="mt-8" style="font-size:2.0rem; line-height: 0.5;">新婦<br><span style="font-size:1rem;">bride</span></h6>
      <div class="row mt-4">
        <div class="groom-img col-sm-4">
          <img src="/top/merit-img-2.png" class="w-50">
          <p>写真を選択する</p>
        </div>
        <div class="groom-profile text-left col-sm-8">
          <label class="">名前</label>
          <!-- <%= f.label "新婦", class:"d-block small text-left" %> -->
          <div class="overflow-hidden" style="margin:0px !important;">
            <%= f.text_field :bride_last, class:"w-49 p-2 float-left" %>
            <%= f.text_field :bride_first, class:"w-49 p-2 float-right" %>
          </div>
          <label class="">かな</label>
          <!-- <%= f.label "新婦", class:"d-block small text-left" %> -->
          <div class="overflow-hidden" style="margin:0px !important;">
            <%= f.text_field :bride_last_kana, class:"w-49 p-2 float-left" %>
            <%= f.text_field :bride_first_kana, class:"w-49 p-2 float-right" %>
          </div>

          <div class="mt-4">
            <label class="">自己紹介・メッセージ</label>
            <%= f.text_area :bride_msg, class:"w-100 p-2" %>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-9">
      <%= f.submit "保存", class:"btn btn-sm btn-primary pl-8 pr-8" %><br>
    </div>

    <% end %>
  </div>
</main>
