<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center w-60">
    <div class="">
      <div class="text-center">
        <h2 class="mb-0" style="">招待状編集TOP</h2>
        <div class="mb-3 text-center" style=""><img src="/icon/bar.png" class="w-10"></div>
        <h6 class="mt-8">招待状_1<span class=""><img src="/icon/pencil.png" class="w-5 p-2"></span></h6>
      </div>
    </div>
    <div class="my-4 text-left">
      <% if @invitation.public == false %>
        <%= link_to invitation_path(@invitation, :invitation => {public: true}), method: "PATCH", class:"btn btn-sm btn-primary pl-8 pr-8" do %>
          公開
        <% end %>
      <% else %>
        <%= link_to invitation_path(@invitation, :invitation => {public: false}), method: "PATCH", class:"btn btn-sm btn-primary pl-8 pr-8" do %>
          非公開
        <% end %>
      <% end %>
    </div>
    <div class="mt-4 bg-img img-fit">
      <%= link_to design_path(id: @invitation, type_id: @invitation.type_id),class:"bg-img-padding w-100 my-auto" do %>
      <div class="amikake" style="height: 300px;background-color: rgba(0,0,0,.5);">
        <p class="text-white" style="padding-top:140px;">画像を選択する</p>
      </div>
    </div>
    <% end %>
    <div class="mt-4 m-0" style="overflow:hidden;">
      <%= link_to profile_path(id: @invitation) do %>
      <div class="inv-card w-49 p-4" style="float:left;">
        <h4 class="mb-0">プロフィール</h4>
      </div>
      <% end %>

      <%= link_to date_place_path(id: @invitation) do %>
      <div class="inv-card w-49 p-4" style="float:right;">
        <h4 class="mb-0">会場・日付</h4>
      </div>
      <% end %>
    </div>

    <div class="mt-4 m-0">
      <%= link_to greeting_path(id: @invitation) do %>
      <div class="inv-card w-49 p-4" style="float:left;">
        <h4 class="mb-0">挨拶文</h4>
      </div>
      <% end %>

      <%= link_to attendance_form_show_path(id: params[:id], atdform_id: @attendance_form) do %>
      <div class="inv-card w-49 p-4" style="float:right;">
        <h4 class="mb-0">出欠フォーム</h4>
      </div>
      <% end %>
    </div>
    <div>
      <%= link_to "プレビュー", invitations_path, class:"btn btn-sm btn-primary pl-8 pr-8 mb-2 mt-4" %><br>
    </div>
    <div class="w-80 mt-4 m-0 overflow-hidden" style="margin-left:10% !important;">
      <div class="inv-card w-49 p-4 float-left">
        <h4 class="mb-0">LINEで送る</h4>
      </div>
      <div class="inv-card w-49 p-4 float-right">
        <h4 class="mb-0">FBでシェア</h4>
      </div>
    </div>
    <div class="w-80 mt-4 m-0 overflow-hidden" style="margin-left:10% !important;">
      <div class="inv-card w-49 p-4 float-left">
        <h4 class="mb-0">Twitterでシェア</h4>
      </div>
      <div class="inv-card w-49 p-4 float-right">
        <h4 class="mb-0">URLを発行する</h4>
      </div>
    </div>
  </div>
</main>
