<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center w-60">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <h2 class="mb-0" style="">招待状編集TOP</h2>
        <div class="w-50 step-border mb-3" style=""></div>
        <h6 class="mt-8">招待状_1<span><img src="/icon/hane.png" class="w-15 p-2"></span></h6>
        <h6 class="mt-4">
          <% if @invitation.public == false %>
            <%= link_to invitation_path(@invitation, :invitation => {public: true}), method: "PATCH", class:"btn btn-sm btn-primary pl-8 pr-8" do %>
              公開
            <% end %>
          <% else %>
            <%= link_to invitation_path(@invitation, :invitation => {public: false}), method: "PATCH", class:"btn btn-sm btn-primary pl-8 pr-8" do %>
              非公開
            <% end %>
          <% end %>
        </h6>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="inv-card p-4">
      <h2 class="">
        <%= link_to "テンプレート選択", design_path(id: @invitation, type_id: @invitation.type_id) %>
      </h2>
    </div>
    <div class="mt-4 p-9 bg-light">
      <h2 class="">画像</h2>
    </div>
    <div class="mt-4 m-0" style="overflow:hidden;">
      <div class="inv-card w-49 p-4" style="float:left;">
        <h4 class="mb-0"><%= link_to "プロフィール", profile_path(id: @invitation) %></h4>
      </div>
      <div class="inv-card w-49 p-4" style="float:right;">
        <h4 class="mb-0"><%= link_to "会場・日付", date_place_path(id: @invitation) %></h4>
      </div>
    </div>
    <div class="mt-4 m-0">
      <div class="inv-card w-49 p-4" style="float:left;">
        <h4 class="mb-0"><%= link_to "挨拶文", greeting_path(id: @invitation) %></h4>
      </div>
      <div class="inv-card w-49 p-4" style="float:right;">
        <h4 class="mb-0"><%= link_to "出欠フォーム", attendance_form_show_path(id: params[:id], atdform_id: @attendance_form) %></h4>
      </div>
    </div>
    <div>
      <%= link_to "プレビュー", invitations_path, class:"btn btn-sm btn-primary pl-8 pr-8 mb-2 mt-4" %><br>
    </div>
    <div class="w-80 mt-4 m-0 overflow-hidden" style="margin-left:10% !important;">
      <div class="inv-card w-49 p-4 float-left">
        <h4 class="mb-0">LINEで送る</h4>
      </div>
      <div class="inv-card w-49 p-4 float-right">
        <h4 class="mb-0">FBでシェア</h4>
      </div>
    </div>
    <div class="w-80 mt-4 m-0 overflow-hidden" style="margin-left:10% !important;">
      <div class="inv-card w-49 p-4 float-left">
        <h4 class="mb-0">Twitterでシェア</h4>
      </div>
      <div class="inv-card w-49 p-4 float-right">
        <h4 class="mb-0">URLを発行する</h4>
      </div>
    </div>
  </div>
</main>
