<%= form_for(@attendance) do |f| %>
<%= render 'shared/error_messages', model: @attendance %>
  <body>
    <%= f.label "姓" %>
    <%= f.text_field :lastname %>

    <%= f.label "名" %>
    <%= f.text_field :firstname %>

    <%= f.label "ふりがな" %>
    <%= f.text_field :lastname_kana %>

    <%= f.text_field :firstname_kana %>

    <%= f.label "郵便番号" %>
    <%= f.text_field :postcode %>

    <%= f.label "住所" %>
    <%= f.text_field :address %>

    <%= f.label "建物名" %>
    <%= f.text_field :building_name %>

    <%= f.label "電話番号" %>
    <%= f.text_field :phonenumber %>

    <%= f.label "メールアドレス" %>
    <%= f.text_field :email %>

    <%= f.label "アレルギー" %>
    <%= f.text_field :allergy %>

    <%= f.label "メッセージ" %>
    <%= f.text_field :message %>

    <%= f.submit "保存" %>
  </body>
<% end %>
