<footer class="mt-9">
  <main class="bg-primary py-6">
    <div class="text-center mx-auto" style="max-width:1200px;">
      <div class="overflow-hidden">
        <div class="col-sm-3 float-left">
          <div class="logo mx-auto">
            <%= link_to root_path do %>
              <img src="/logo/logo.png" class="">
            <% end %>
          </div>
        </div>
        <div class="col-sm-3 float-left">
          <ul>
            <li>
              <%= link_to root_path do %>
                HOME
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                ログイン
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                会員登録
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
              本サービスについて
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                お問い合わせ
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-sm-3 float-left">
          <ul>
            <li>
              <%= link_to root_path do %>
                マイページ
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                招待状を作成する
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                フォトアルバム
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-sm-3 float-left">
          <ul>
            <li>
              <%= link_to root_path do %>
                利用規約
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                プライバシーポリシー
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                特定商取引法に基づく表記
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                会社情報
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <h5 class="text-white text-light font-weight-light mt-4">2018@Shukufuku.inc</h5>
    </div>
  </main>
</footer>
