<% unless root_path %>
  <header class="mb-4" style="">
    <div class="row m-4 mt-0">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="logo w-30 mx-auto">
          <%= link_to root_path do %>
            <img src="/logo/logo.png" class="">
          <% end %>
        </div>
      </div>
      <% unless logged_in? %>
        <div class="col-4 text-right" style="">
          <%= link_to "無料で招待状をつくる", signup_path, class:"btn btn-sm btn-outline-primary pt-1 pb-1" %>
          <%= link_to "ログイン", login_path, class:"btn btn-sm btn-outline-primary pt-1 pb-1 mr-4" %>
        </div>
      <% end %>

      <% if logged_in? %>
        <div class="col-4 text-right float-left">
        <p>ログインユーザー(開発用): <%= current_user.id %></p>
        <%= link_to "マイページ", mypage_path(current_user), class:"btn btn-sm btn-outline-primary pt-1 pb-1" %>
        <%= link_to "ログアウト", logout_path, method: "DELETE", class:"btn btn-sm btn-outline-primary pt-1 pb-1 mr-4" %>
        </div>
      <% end %>
    </div>
  </header>
<% end %>
